
body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.home {
    color: #FFBC0E;
    font-size: 40px;
    font-family: "DotGothic16", sans-serif;
    margin-left: 15%;
    margin-top: 8%;
    opacity: 0.8;
}

.desc01 {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin-left: 15%;
    margin-top: 4%;
}

.img01 {
    margin-left: 50%;
    margin-top: -25%;
    width: 38%;
}

.sobre {
    color: #FFBC0E;
    font-size: 40px;
    font-family: "DotGothic16", sans-serif;
    margin-left: 15%;
    margin-top: 8%;
    opacity: 0.8;
}

.desc02 {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin-left: 15%;
    margin-top: 4%;
}

.img02 {
    margin-left: 40%;
    margin-top: -30%;
    width: 48%;
}