/*estilo padrão*/
body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/*estilos home*/
.home {
    color: #FFBC0E;
    font-size: 40px;
    font-family: "DotGothic16", sans-serif;
    margin-left: 15%;
    margin-top: 8%;
    opacity: 0.8;
}

.desc01 {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin-left: 15%;
    margin-top: 4%;

    @media(max-width: 1300px){

    }
}

.img01 {
    margin-left: 50%;
    margin-top: -25%;
    width: 38%;
}
/*estilos sobre*/
.sobre {
    color: #FFBC0E;
    font-size: 40px;
    font-family: "DotGothic16", sans-serif;
    margin-left: 15%;
    margin-top: 8%;
    opacity: 0.8;
}

.desc02 {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin-left: 15%;
    margin-top: 4%;
}

.img02 {
    margin-left: 40%;
    margin-top: -30%;
    width: 48%;
}

.portifolio {
    color: #FFBC0E;
    font-size: 40px;
    font-family: "DotGothic16", sans-serif;
    margin-left: 15%;
    opacity: 0.8;
    margin-top: 10%;
}
.desc_portifolio {
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin-left: 15%;
  margin-top: 2%;
}
/*Estilos contatos*/
.title_page {
	font-size: 40px;
	font-family: "DotGothic16", sans-serif;
	color: #FFBC0E;
    line-height: 48px;
    margin-top: 100px;
    margin-left: 10%;
}

.desc_page {
    font-size: 15px;
    font-family:"Montserrat", sans-serif;
    color: #fff;
    margin-top: 28px;
    margin-left: 10%;
    margin-bottom: 25px;
}

.social {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    margin-left: 10%;
    position: relative;
    width: 300px;
  }

  .icon {
    width: 40px;
    height: 40px;
    color: #FFBC0E;
  }
  
  .item a {
    text-decoration: none;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: #232b3b;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
  }
  
  .item:hover a::before {
    scale: 1 1;
  }
  
  
  .item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .item:nth-child(1) {
    --bg-color: #34863f;
  }
  .item:nth-child(2) {
    --bg-color: #000;
  }
  .item:nth-child(3) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }
  .item:nth-child(4) {
    --bg-color: #006eff;
  }

  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img03 {
  margin-left: 50%;
  margin-top: -20%;
}

/*responsividade*/
