.swiper {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    margin: 0;
    width: auto;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: #FFBC0E;
}

.swiper-button-prev {
    color: #FFBC0E;
    padding: 10px;
    margin-left: 5%;
}

.swiper-button-next {
    color: #FFBC0E;
    padding: 10px;
    margin-right: 5%;
}