.swiper {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: #FFBC0E;
}

.swiper-button-prev {
    color: #FFBC0E;
    padding: 10px;
    margin-left: 10%;
}

.swiper-button-next {
    color: #FFBC0E;
    padding: 10px;
    margin-right: 10%;
}